.hero {
    background-image: url('../assets/Background_1.png'); 
    background-size: cover;  
    background-position: center; 
}
  
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-25%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero {
  animation: slideIn 1.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
